.draft-page {


	& .draft-modal {

		padding: .4em;
		& a {color: $color5;}
		& h3 a:hover {
			color: darken($color5, 10%);
			text-decoration: none;
		}

		& small {color: inherit;}
		& p {
			color: $pre-black2;
			font-size: $sm-font-size;
		}

		&:nth-child(odd) {
			background-color: $color3;
		}
	}
}