.index-page {
	& .sub-wrapper {
		background-color: $white;
	}

	& .general-welcome {
		padding: .4em;

		& a {
			color: $pre-black2;
			text-decoration: underline;
		}

		& p {
			padding: .4em .2em;
		}
	}

	& .category-section{
		padding: .4em;
		margin-bottom: .5em;

		& .category {
			margin: .5em 0;
			& .cat-heading {
				border-bottom: 2px solid darken($color3, 2%);
				padding: .6em .4em;
				background: darken($white, 1%);
				color: $pre-black; 
				& a:hover { text-decoration: none; }

				& .trigger-fs { font-weight: bold; }

				& a { color: $pre-black; }
			}
		}
	}

	& .forums {
		& .forum {
			margin: .2em 0;
			padding: .4em .3em;
			&:nth-child(even)
			{
				background-color: lighten($color3, 1%);
			}
			&:hover {
				background-color: lighten($color3, 1%);
			}

			& > div:first-child{
				& > span {
					line-height: 1.4em;
				}
			}

			& h2 {
				color: lighten($pre-black2, 12%);
				font-weight: 500;
			}

			& .label {
				background-color: $color3;
				color: $pre-black2;
				& i, & span {
					color: $pre-black2;
				}
				@extend .rad2;
			}

			& .forum-stats {
				display: inline-block;
			}

			& .last-topic {
				& p {
					display: inline-block;
				}
			}

			& .forum-title:hover h4{
				color: $color5;
			}
		}
	}

	& .stats-board {
		padding: 0.5em;
		border-top : 5px solid $color4;
		color: $pre-black;
		h3{
			display: inline-block;
		}

		& .records {
			&>div {
				background-color: $color3;
				text-align: center;
				padding: .4em .6em;
			}
		}
	}
}
