//direction
$direction : rtl;
// Font weights
$light: 100;
$regular: 400;
$bold: 600;
// Font
$base-font-family: tahoma,arial;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: normal;
$smallestFontSize: 10px;
$biggestFontSize: 16px;
// Headings
$header-font-weight: $bold;