.cp-index-page {
	& .cp-menu {
		background-color: $color2;
		color: $white;
		font-size: 1.2em;
		color: lighten($pre-black, 10%);
		&>span, & nav a {
			display: block;
			padding: .8em 1em;
			text-align: center;
		}

		& nav a {
			color: $pre-black;
			width: 100%;
			text-decoration: none;
			padding: .8em 1em;
			&.checked {
				background-color: darken($color1, 7%);
				&:hover{
					background-color: darken($color1, 7%);
				}
			}

			&:hover, &.focused {
				background-color: darken($color1, 10%);
			}

			&.new-msg {
				@if $direction == ltr{border-left:.4em solid $color5;}@else{border-right: .4em solid $color5;}
			}
		}

		& .sub-menu {
			& nav {
			display: none;
				& a{
					display: block;
					color: $pre-black;
					background-color: darken($color1, 5%);
					width: 100%;
					text-decoration: none;
					padding: .8em 1em;
					font-size: .9em;

					&:hover {
						background-color: darken($color1, 2%);
					}

					&.checked {
						background-color: darken($color1, 1%);
					}
				}
			}
		}		
	}

	& .cp-display {
		background-color: $white;
		padding: .7em .6em;
		&>div {
			padding: .4em 0;
		}

		& .content-wrapper>div {
			padding: .4em .5em;
		}

		& .general-stats {
			&>div {
				background-color: $color3;
				text-align: center;
				padding: 1.7em 1.5em;
				& span {
					display: block;
					color: $color5;
					font-weight: bold;
					font-size: 1em;
				}
			}
		}

		& .recentActivities {
			padding: .3em .4em;
			@if $direction == ltr{border-left:.4em solid $color5;}@else{border-right: .4em solid $color5;}
			&>div {
				padding: .3em .4em;
				&:nth-child(odd){
					background-color: $color3;
				}

				& a {
					&:first-child {
						color: $color5;
					}
					text-decoration: underline;
				}
			}
		}

		& .browserUsage {

			& i {
				display: inline-block;
				width: 10px;
				height: 10px;
				@if $direction == ltr{margin-right: .4em;}@else{margin-left: .4em;}
			}
		}

		& .topVisiting {
			& div {
				padding: .3em .5em;
				&:nth-child(odd){
					background-color: $color3;
				}

				& strong {
					color: $pre-black;
				}
			}
		}

		& .new-form {
			& input, & textarea {
				border-color: darken($color3, 10%);
				width: 90%;

				&:focus {
					border-color: darken($color3, 20%);
				}
			}
		}
	}

	& .copyright {
		padding: .7em .4em;
		color: $pre-black2;
		text-align: center;
		border-top: 1px solid darken($color3, 10%);
	}

	& .cf-list-cap {
		//background-color: darken($color3, 6%);
		border-bottom: 2px solid darken($color3, 6%);
		color: $pre-black2;
		font-weight: bold;
		font-size: 1em;
		&>div {
			padding: .4em .6em;
		}
	}
}